@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .about-block {
        width: 100%;
    }
    .section-1 p {
        font-size: 16px;
    }
    .section-7 .container:last-child {
        width: 100%;
    }
    .included-in-cleaning .inc {
        width: 100%;
    }
    .included-in-cleaning .inc-block {
        width: 90%;
    }
    .inc .block-inc .text-inc p {
        width: 380px;
    }
    .inc .block-inc .text-inc {
        width: auto;
    }
    .inc .block-inc .text-inc h6 {
        margin-bottom: revert;
    }
    .section-1 {
        padding: 72px 40px 82px;
    }
    .section-1 h1 {
        font-size: 36px;
    }
    .section-1 .main-info {
        flex-direction: column;
    }
    .section-1 .peoples {
        position: relative;
        left: 0;
        max-width: 100%;
        width: auto;
    }
    .section-1 .col {
        width: 100% !important;
    }
    .discount-block {
        width: 90%;
        justify-content: space-between;
    }
    .about-block .second-block {
        width: 90%;
    }
    .section-5 .container {
        width: 90%;
    }
    .section-6 .container {
        width: 90%;
    }
    .section-7 .container:last-child {
        width: 90%;
    }
    .section-7 .container {
        width: 90%;
    }
    .container-for-footer {
        width: 90%;
        flex-wrap: wrap;
    }
    header .container {
        width: 95%;
    }
    .included-in-cleaning .container {
        width: 90%;
    }
    .included-in-cleaning {
        height: unset;
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 1150px) {
    .img-pc.second {
        right: 75px;
    }
    .nav-menus {
        display: none;
    }
    header .container {
        width: 90%;
    }
}

@media screen and (max-width: 1080px) {
    .discount-block p {
        padding-top: 30px;
    }
    .discount-block p {
        width: 484px;
        margin-right: unset;
    }
    .about-block .second-block .container {
        flex-wrap: wrap;
        width: 95%;
    }
    .about-block .second-block {
        height: unset;
        background: #F4F4F8;
        width: 100%;
    }
    .second-block .container .block:last-child {
        margin: 0 auto;
        margin-bottom: 70px;
    }
    .second-block a {
        left: calc(50% - 160px);
    }
    .about-block {
        padding-bottom: 70px;
        height: unset;
    }
    .cleaning-package {
        height: unset;
    }
    .section-4 .cols {
        width: 97%;
    }
    .sidebar-menu__navs {
        margin-left: 18px;
    }
    .sidebar-menu__contacts {
        margin-left: 60px;
    }
    
}

@media screen and (max-width: 1024px) {
    .inc .block-inc .text-inc p {
        width: 282px;
        font-size: 16px;
    }
    .inc .block-inc .text-inc h6 {
        margin-bottom: 0;
        /* margin-top: 170px; */
        position: absolute;
        bottom: 30px;
    }
    .inc .block-inc .text-inc h5 {
        font-size: 20px;
    }
    .inc .block-inc .text-inc h3 {
        font-size: 24px;
    }
    .inc .block-inc .text-inc p span {
        font-weight: 800;
    }
    .inc .block-inc .text-inc {
        padding: 30px 20px 50px;
        height: 337px;
    }
    .included-in-cleaning .inc-block h4 {
        font-size: 32px;
    }
    .section-1 .book-btn {
        font-size: 15px;
        padding: 16px 24px;
    }
    .section-1 .privilege .col {
        flex-direction: column;
        width: 50% !important;
    }
    .section-1 .privilege {
        flex-wrap: wrap;
    }
    .section-1 .main-info {
        padding-bottom: 0;
    }
    .section-1 {
        padding: 72px 40px 72px;
    }
    .monthly-sub-block .both-side {
        justify-content: space-between;
        left: unset;
        position: unset;
        margin: 0 auto;
        /* width: 92%; */
        padding: 60px;
        background: #EBE7F3;
        border-radius: 30px;
    }
    .monthly-sub-block .first-side {
        width: 50%;
        margin-right: 0;
    }
    .monthly-sub-block .second-side {
        width: 45%;
    }
    .monthly-sub-block {
        width: 90%;
        margin: 0 auto;
    }
    .monthly-sub-block .first-side {
        height: unset;
    }
    .monthly-sub-block .second-side {
        height: unset;
    }
    .discount-block {
        height: unset;
    }
    .discount-block img {
        height: 311px;
    }
    .about-block .first-block .illustation {
        width: 330px;
        height: 297.154px;
    }
    .first-block h1 {
        margin-top: 0px;
    }
    .about-block .first-block {
        width: 95%;
        margin: 0 auto;
        margin-top: 80px;
        height: unset;
    }
    .section-4 .cols {
        margin-left: 9%;
        column-count: 2;
        column-gap: 30px;
    }
    .section-4 {
        height: unset;
    }    
    .section-5 {
        margin-top: 60px;
    }
    .section-5 .content::before {
        content: '';
        width: 107px;
        height: 107px;
        background: url(../../img/section-5/cleaning-sponge.svg);
        position: absolute;
        top: 42%;
        right: -6px;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 10;
    }
    .section-5 .content::after {
        content: '';
        width: 130px;
        height: 130px;
        background: url(../../img/section-5/hand-brush-cleaner.svg);
        position: absolute;
        top: 75%;
        left: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 10;
    }
    .img-pc {
        display: none;
    }
    .img-table {
        display: block;
        position: absolute;
    }
    .section-7 .container {
        padding-bottom: 60px;
    }
    .section-4 .cols {
        width: unset;
    }
    .sidebar-menu {
        width: 500px;
    }
    .slider-nav {
        margin-top: 48px;
    }
}

@media screen and (max-width: 916px) {
    .monthly-sub-block {
        height: unset;
    }
    .first-block h1 {
        font-size: 24px;
    }
    .first-block .kinds-of-cleaning {
        font-size: 16px;
    }
    .second-block .container .block h3 {
        font-size: 20px;
    }
    .second-block .container .block p {
        font-size: 16px;
    }
    .about-block .second-block {
        margin-top: 50px;
    }
    .second-block .container .block .vacuum-cleaner {
        width: 198px;
    }
    .second-block .container .block .bottle {
        width: 150px;
    }
    .second-block .container .block .medal {
        width: 170px;
    }
    .section-4 .cols {
        margin-left: 5%;
    }
    .section-7 .container-service p {
        font-size: 28px;
        width: 510px;
    }
    .section-7 .container-service h3 {
        font-size: 36px;
    }
    .section-7 .container-service h5 {
        font-size: 16px;
    }
    .section-7 .container-service .book-cleaning {
        font-size: 16px;
    }
    .included-in-cleaning {
        height: unset;
        margin-bottom: 65px;
    }
}

@media screen and (max-width: 878px) {
    .container-for-footer {
        margin-top: 60px;
    }
    footer {
        height: unset;
    }
    footer .technical-support {
        margin-bottom: unset;
        margin: 40px 0;
    }
}

@media screen and (max-width: 859px) {
    .section-5 .container .content {
        padding: 55px 60px;
    }
    .section-5 .content::before {
        /* top: 45%; */
    }
    .section-5 .content::after {
        top: 79%;
    }
    .section-5 col {
        padding: 32px 24px;
    }
    .section-5 .container .content {
        padding: 55px 30px;
    }
    .section-6 .violet-line {
        width: 86%;
    }
    .section-7 .container h3 {
        font-size: 32px;
    }
    .section-7 .left-side h4 {
        font-size: 20px;
    }
    .section-7 .right-side h4 {
        font-size: 28px;
    }
    .section-7 .right-side h5 {
        font-size: 16px;
    }
    .section-7 .right-side a {
        font-size: 18px;
    }
    .section-7 .left-side p {
        font-size: 16px;
    }
    .section-7 .left-side .number-btn {
        font-size: 16px;
    }
    .sidebar-menu {
        width: 550px;
    }
    .slider-nav li {
        font-size: 18px;
    }
    .slide-1 .tooltip-5 {
        left: calc(70% - 45px);
    }
    .slide-3 .tooltip-4 {
        top: calc(63% - 119px);
        left: calc(82% - 70px);
        max-width: 143px;
    }
    .slide-3 .tooltip-3 {
        top: calc(24% - 36px);
        left: calc(65% - 76px);
    }
}

@media screen and (max-width: 800px) {
    .section-4 .cols {
        margin-left: 3%;
    }
    .section-5 .content h2 {
        font-size: 32px;
    }
    .section-5 .col h3 {
        font-size: 24px;
    }
    .section-5 .col h4 {
        font-size: 20px;
    }
    .section-5 .col {
        padding: 32px 24px;
        width: calc(100% / 2 - 63px);
    }
    .section-6 .container h2 {
        font-size: 32px;
    }
    .accordion-content .question {
        font-size: 22px;
    }
    #leaveQuestion-btn {
        font-size: 16px;
    }
    .section-6 .accordion-content p {
        font-size: 16px;
    }
    .section-7 .right-side {
        width: 340px;
    }
    .section-7 .right-side h4 {
        width: unset;
    }
    .section-7 .container .left-side {
        margin-top: 56px;
    }
    .section-7 .right-side {
        margin-top: 29px;
    }
    .section-6 .container {
        padding: 0px 0 30px 0;
    }
}

@media screen and (max-width: 768px) {
    
    .included-in-cleaning .inc {
        width: 335px;
        flex-direction: column;
        margin: 64px auto 0;
    }
    .block-inc:first-child {
        margin-bottom: 24px;
    }
    .inc .block-inc .text-inc p {
        width: auto;
    }
    .inc .block-inc {
        width: 335px;
    }
    .monthly-sub-block .both-side {
        flex-direction: column;
        padding: 60px;
    }
    .monthly-sub-block {
        height: unset;
    }
    .monthly-sub-block .first-side {
        width: 63%;
    }
    .monthly-sub-block .first-side h2 {
        font-size: 28px;
    }
    .monthly-sub-block .first-side .kinds-of-cleaning {
        font-size: 16px;
    }
    .present-block p {
        font-size: 16px;
    }
    .second-side h2 {
        font-size: 36px;
    }
    .second-side p {
        font-size: 16px;
    }
    .second-side a {
        font-size: 16px;
        padding: 16px 16px;
    }
    .monthly-sub-block .second-side {
        width: 72%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .monthly-sub-text h2 {
        font-size: 32px;
    }
    .monthly-sub-text p {
        font-size: 16px;
        margin: 10px auto;
        width: 78%;
    }
    .monthly-sub-text {
        margin-top: 70px;
    }
    .monthly-sub-text {
        width: unset;
    }
    .discount-block p {
        font-size: 28px;
    }
    .second-block .container .block {
        margin: 0 auto;
    }
    .section-4 .container h2 {
        font-size: 32px;
    }
    .section-4 .container .cols .col h3 {
        font-size: 20px;
    }
    .section-4 .col p {
        width: 300px;
        font-size: 16px;
    }
    .section-4 .cols {
        margin-left: unset;
        width: 90%;
        margin: 0 auto;
    }
    .section-5 .flex {
        flex-direction: column;
    }
    .section-5 .col {
        margin: 32px auto;
        width: 254px;
    }
    .section-5 {
        margin-top: 30px;
        padding: 75px 0;
    }
    footer .services h2, footer .contacts h2 {
        font-size: 18px;
    }
    footer .about-us h2 {
        font-size: 18px;
    }
    footer a {
        font-size: 11px;
    }
    footer .technical-support h4 {
        font-size: 18px;
    }
    footer .about-us a {
        font-size: 16px;
    }
    footer .services a {
        font-size: 16px;
    }
    footer .contacts a {
        font-size: 16px;
    }
    footer .footer-text {
        width: 506px;
        left: calc(50% - 253px);
        font-size: 11px;
    }
    footer .footer-text p {
        font-size: 11px;
        color: rgba(27, 27, 27, 0.60);
        font-family: Open Sans;
        font-weight: 400;
    }
    footer .footer-text a {
        font-size: 11px;
        color: rgba(27, 27, 27, 0.60);
        font-family: Open Sans;
        font-weight: 400;
    }
    footer #policy {
        margin: 0;
    }
    .sidebar-menu {
        width: 460px;
        right: -460px;
    }
    .sidebar-menu__header #close-menu svg {
        right: 35px;
        top: 40px;
    }
    .included-in-cleaning .inc-block {
        height: 940px;
    }
    .section-5 .content::before {
        top: 45%;
    }
    .section-5 .content::after {
        top: 87%;
    }
    .section-7 {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 745px) {
    .img-table {
        display: none;
    }
    .container-for-footer {
        margin-top: 60px;
    }
}

@media screen and (max-width: 724px) {
    .section-4 .cols {
        column-count: 1;
        width: 90%;
    }
    .section-4 .col {
        display: block;
        margin: 24px auto;
        width: 300px;
    }
    
}

@media screen and (max-width: 700px) {
    .section-6 .accordion .accordion-content .question {
        display: inline-block;
        padding-right: 40px;
    }
    .section-7 {
        padding-bottom: unset;
    }
}

@media screen and (max-width: 676px) {
    .monthly-sub-block .first-side {
        width: 90%;
    }
    .discount-block {
        flex-direction: column;
    }
    .discount-block p {
        width: 85%;
        margin-left: 40px;
    }
    .about-block .first-block .flex {
        flex-direction: column-reverse;
    }
    .connection-with-us {
        flex-direction: column;
    }
    .section-7 .right-side {
        margin-top: 64px;
        margin: 0 auto;
        margin-top: 64px;
    }
    header .phone {
        display: none;
    }
    .tooltip__content {
        font-size: 12px;
    }
    .tooltip {
        max-width: 180px;
    }
    .slide-1 .tooltip-5 {
        top: calc(38% - 119px);
        left: calc(82% - 90px);
    }
    .slide-1 .tooltip-4 {
        left: calc(69% - 56px);
    }
}

@media screen and (max-width: 632px) {
    .section-4 .container .btns button {
        margin: 0 auto;
        display: block;
        padding: 16px 34px;
        font-size: 16px;
        width: 300px;
        margin-bottom: 16px;
    }
    .section-5 .content h2 {
        font-size: 24px;
    }
    .section-6 .violet-line {
        width: 79%;
    }
    .section-7 .container-service p {
        font-size: 28px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 48px;
    }
    .section-7 .container-service h5 {
        width: 90%;
    }
    footer .footer-text {
        /* margin: 0 auto; */
        flex-wrap: wrap;
        width: 506px;
        /* left: calc(50% - 265px); */
    }
}

@media screen and (max-width: 565px) {
    footer .contacts {
        margin-top: 25px;
    }
    .tooltip {
        max-width: 118px;
    }
    .slide-1 .tooltip-1 {
        top: calc(80% - 35px);
        left: calc(30% - 53px);
    }
    .slide-1 .tooltip-2 {
        top: calc(41% - 43px);
        left: calc(41% - 59px);
    }
    .slide-1 .tooltip-3 {
        top: calc(69% - 64px);
        left: calc(59% - 59px);
    }
    .slide-1 .tooltip-5 {
        left: calc(84% - 56px);
    }
    .tooltip__content {
        font-size: 11px;
    }
    .slide-2 .tooltip-4 {
        position: absolute;
        top: calc(41% - 119px);
        left: calc(83% - 45px);
    }
    .slide-2 .tooltip-3 {
        position: absolute;
        top: calc(41% - 36px);
        left: calc(68% - 76px);
    }
}

@media screen and (max-width: 534px) {
    .included-in-cleaning .inc-block {
        height: 984px;
    }
    .included-in-cleaning .inc-block {
        margin-top: 64px;
    }
    .included-in-cleaning {
        height: unset;
        margin-bottom: 40px;
    }
    .tooltip__content {
        font-size: 10px;
    }
    .slide-1 .tooltip-5 {
        left: calc(81% - 56px);
        top: calc(25% - 54px);
    }
    .slide-1 .tooltip-2 {
        top: calc(43% - 34px);
    }
    .slide-1 .tooltip-4 {
        left: calc(68% - 45px);
        top: calc(41% - 34px);
    }
}

@media screen and (max-width: 511px) {
    #contacts-for-mobile {
        display: block;
        margin-right: 30px;
    }
    #contacts-for-pc {
        display: none;
    }
    footer .services h2 {
        margin-top: 9px;
    }
    footer .footer-text {
        width: 310px;
        margin-bottom: 10px;
        left: calc(50% - 155px);
    }
    #rules-mob {
        display: block;
    }
    #rules-pc {
        display: none;
    }
    footer .about-us h2 {
        font-size: 16px;
    }
    footer .services h2, footer .contacts h2 {
        font-size: 16px;
    }
    footer .technical-support h4 {
        font-size: 16px;
    }
    footer .contacts a {
        font-size: 14px;
    }
    footer .about-us a {
        font-size: 14px;
    }
    footer .services a {
        font-size: 14px;
    }
    footer .contacts .links a {
        font-size: 14px;
    }
    footer .technical-support {
        margin: 0;
    }
    .container-for-footer {
        margin-top: 20px;
    }
    .slider-nav {
        margin-top: 28px;
        margin-bottom: 24px;
    }    
    .slide-3 .tooltip-4 {
        top: calc(65% - 119px);
        left: calc(87% - 40px);
        max-width: 80px;
    }
    .slide-3 .tooltip-3 {
        top: calc(21% - 36px);
        left: calc(70% - 76px);
    }
}

@media screen and (max-width: 500px) {
    
    .section-1 .privilege {
        flex-direction: column;
        align-items: center;
    }
    .section-1 .privilege .col {
        width: 100% !important;
        margin-bottom: 20px;
    }
    .section-1 {
        padding: 32px 20px 24px;
    }
    .section-1 .book-btn {
        width: calc(100% - 52px);
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        margin-top: 24px;
    }
    .section-1 h1 {
        font-size: 26px;
    }
    .section-1 .privilege .icon {
        margin-bottom: 20px;
    }
    .section-1 .peoples {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .discount-block p {
        font-size: 25px;
    }
    .accordion-content .question {
        font-size: 20px;
    }
    .section-6 .container h2 {
        font-size: 24px;
    }
    .bucket {
        display: block;
        right: 15px;
        padding-top: calc(50% - 50px);
    }
    .section-7 .container-service .book-cleaning {
        padding: 16px 26px;
    }
    .section-7 .container-service p {
        font-size: 20px;
    }
    .mobile-menu {
        display: block;
    }
    .sidebar-menu {
        width: 100%;
        right: -100%;
    }
    .sidebar-menu__header #close-menu svg {
        right: 22px;
    }
    .sidebar-menu__navs {
        font-size: 24px;
    }
    .sidebar-menu__navs {
        margin-top: 64px;
    }
    .sidebar-menu__navs ul {
        padding-left: 0;
    }
    .sidebar-menu__contacts {
        margin-left: 20px;
    }
    .sidebar-menu__contacts .con {
        width: 135px;
    }
    .phone-menu {
        font-size: 16px;
    }
    .sidebar-menu__contacts .con {
        margin-right: 30px;
    }
    .included-in-cleaning .inc-block h4 {
        font-size: 24px;
    }
    .slide-1 .tooltip-5 {
        top: calc(23% - 54px);
    }
    .slide-2 .tooltip-4 {
        position: absolute;
        top: calc(46% - 119px);
        left: calc(83% - 45px);
    }
    .section-5 .content::before {
        top: 45%;
    }
}

@media screen and (max-width: 475px) {
    
    .monthly-sub-text h2 {
        font-size: 24px;
    }
    .monthly-sub-block .first-side h2 {
        font-size: 20px;
    }
    .monthly-sub-block .both-side {
        padding: 32px 18px;
    }
    .monthly-sub-block {
        height: unset;
    }
    .monthly-sub-text {
        width: 90%;
    }
    .monthly-sub-block .second-side {
        width: 80%;
    }
    .second-side a {
        font-size: 16px;
        padding: 16px 10px;
    }
    .discount-block p {
        font-size: 20px;
        margin-left: 20px;
        margin-bottom: unset;
    }
    .discount-block img {
        height: 235px;
    }
    .about-block .first-block {
        width: 90%;
    }
    .first-block h1 {
        font-size: 20px;
    }
    .about-block .first-block .illustation {
        margin-top: 20px;
    }
    .about-block .second-block {
        margin-top: 10px;
    }
    .about-block .second-block .container {
        width: 90%;
    }
    .section-4 .container h2 {
        font-size: 24px;
        margin-bottom: 40px;
        margin-top: 50px;
    }
    .section-7 .right-side {
        width: 90%;
        padding: 30px 16px;
    }
    .section-7 .container h3 {
        font-size: 24px;
    }
    .section-7 .right-side h4 {
        font-size: 20px;
    }
    .section-7 .container h3 {
        font-size: 36px;
    }
    .container-for-footer {
        margin-top: 20px;
    }
    .tooltip__content {
        font-size: 9px;
    }
    .slide-1 .tooltip-3 {
        top: calc(79% - 64px);
    }
    .slide-2 .tooltip-4 {
        position: absolute;
        top: calc(46% - 119px);
        left: calc(80% - 45px);
    }
}

@media screen and (max-width: 430px) {
    .nav-social {
        display: none;
    }
    .comfort-gr .nav-switch {
        margin-left: 24%;
    }
    .slider-nav li {
        font-size: 14px;
    }
    .tooltip {
        max-width: 107px;
    }
    .slide-1 .tooltip-5 {
        max-width: 101px;
    }
    .slide-1 .tooltip-3 {
        top: calc(79% - 64px);
        max-width: 60px;
    }
    .tooltip__content {
        margin-bottom: 17px;
    }
    .tooltip-5 .tooltip__content {
        margin-bottom: 21px;
    }
    .slide-1 .tooltip-5 {
        max-width: 101px;
        left: calc(83% - 50px);
        top: calc(24% - 50px);
    }
    .slide-1 .tooltip-4 {
        left: calc(66% - 41px);
        top: calc(42% - 30px);
    }
    .slide-2 .tooltip-4 {
        position: absolute;
        top: calc(49% - 119px);
        left: calc(80% - 45px);
    }
}

@media screen and (max-width: 400px) {
    .section-5 .container {
        width: 92%;
    }
    .section-5 .container .content {
        padding: 55px 16px;
    }
    .content::before {
        top: 46%;
        right: -11px;
    }
    .section-5 .content::after {
        top: 87%;
        left: -20px;
    }
    .section-5 .content h2 {
        margin-bottom: 16px;
    }
    .section-5 .col {
        margin: 16px auto;
    }
    .section-6 .accordion-content {
        width: 90%;
        padding: 16px;
    }   
    .section-6 .accordion .accordion-content .question::after {
        right: 14px;
        top: 16px;
    }
    .section-6 .violet-line {
        width: 91%;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .section-6 .accordion .accordion-content.active .question::after {
        right: 14px;
        top: 16px;
    }
    #leaveQuestion-btn {
        margin-top: 48px;
    }
    .violet-line.padding-b-181 {
        padding-bottom: 64px;
    }
    .section-7 .container-service p {
        width: 90%;
    }
    .section-7 .girl-and-boy-service .container-service {
        padding-bottom: 35px;
    }
    .footer-tech-support-icons a {
        width: 32px;
        height: 32px;
    }
    .slide-2 .tooltip-4 {
        position: absolute;
        top: calc(59% - 119px);
        left: calc(85% - 35px);
        max-width: 71px;
    }
    .slide-2 .tooltip-3 {
        position: absolute;
        top: calc(41% - 36px);
        left: calc(66% - 48px);
        max-width: 65px;
    }
    .slide-3 .tooltip-4 {
        top: calc(71% - 119px);
        left: calc(87% - 40px);
        max-width: 80px;
    }
}